@model IEnumerable<Contact>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organisation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            <a href="javascript:OnEdit(@item.Id)">Edit</a>|
            <a href="javascript:OnDetails(@item.Id)">Details</a>|
            <a href="javascript:OnDelete(@item.Id)">Delete</a>
            @*<a onclick="OnEdit(@item.Id)">Edit</a>|*@
            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
            @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
        </td>
    </tr>
}
